<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="lib/angular-material.min.css">
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="lib/docs.css">
</head>
<body ng-app="starterApp" ng-cloak layout="column" ng-controller="UserController as ul">
  <!--
    Your HTML content here
  -->       <md-toolbar layout="row">
      <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h1>Angular Material - Starter App</h1>
    </md-toolbar>


    <div flex layout="row">

        <md-sidenav ng-click="ul.toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
          <md-list>
            <md-list-item ng-repeat="it in ul.users">
                <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
                  {{it.name}}
                </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>

        <md-content flex id="content">
          <md-list>
            <md-list-item ng-repeat="it in ul.users" layout="row" layout-xs="column">
              
               <div flex-gt-sm="24" flex="94">
                    <img src="{{it.image}}" style="width:150px;height:70px;">
                  </div>
                  <div flex-gt-sm="5" flex="5">

                  </div>
                  
                <div flex-gt-sm="70" flex="99"> 
                  <h2>{{it.name}}</h2>
                  <p>{{it.description}}</p>

                </div>
                 <hr>
            </md-list-item>
               
          </md-list>

          <md-button class="share" md-no-ink ng-click="ul.share(ul.selected)" aria-label="Share with {{ ul.selected.name }}">
            <md-icon md-svg-icon="share"></md-icon>
          </md-button>
        </md-content>

    </div>

  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-animate.min.js"></script>
  <script src="lib/angular-aria.min.js"></script>
  <script src="lib/svg-assets-cache.js"></script>
  <script src="lib/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="lib/angular-material.min.js"></script>
  <script src="index.js"></script>

</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
